*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    scroll-behavior: smooth;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: antiquewhite; 
    width: 600px;
    height: 500px;
    border-radius: 6%;
}

.card-two{
    display: grid;
    background-color: hsl(228, 45%, 44%); 
    width: 300px;
    height: 500px;
    border-radius: 6.5%;
    margin-right: 260px;
}

.heading-3{
    text-align: center;
    padding-top: 50px;
    color: white;
}

.summary-heading{
    color: black;
    text-align: center;
    padding-top: 50px;
}


.result-text{
    text-align: center;
    padding-top: 30px;
    color: antiquewhite;
}

.score-area{
    text-align: center;
    margin-bottom: 140px;
    border: 2px solid hsl(228, 92%, 29%);
    border-radius: 100%;
    width: 55%;
    margin-left: 70px;
    padding-top: 25px;
}

.score-area .score{
    color: white;
    font-size: 3rem;
}

.of-para{
    color: white;
    font-size: 11px;
    margin-top: 10px;
}

.great{
    color: white;
    text-align: center;
    margin-top: -100px;
}

.last-para{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -75px;
}


.summary-h3{
    margin-left: -240px;
    margin-top: 28px;
}

.borders{
    margin-left: -250px;
    margin-top: 30px;
}

.borders .border-one{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    border: 2px solid gray;
    padding: 8px;
    width:270px;
    border-radius: 7px;
    margin-top: 45px;
    background: rgba(243, 157, 157, 0.799);

}

.borders .second-border{
    background-color: lightblue;
}

.borders .third-border{
    background-color: lightgreen;
}

.borders .last-border{
    background-color: lightseagreen;
}

.reaction{
    color: darkred;
}

.memory{
    color: darkblue;
}

.visual{
    color: azure;
}

.first-score{
    font-weight: bold;
}

.continue-button{
    margin-left: -240px;
    margin-top: 30px;
}

.button{
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(4, 11, 52);
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}


.score-100{
    margin-left: 100px;
}